<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MAD_Encounters"
        tools:targetApi="31">
        <activity
            android:name=".InventryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ApprovedDeliveryItemActivity"
            android:exported="false" />
        <activity
            android:name=".deliverymangement.activity.ApprovedDeliveryDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".deliverymangement.activity.DisplayDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryListItemActivity"
            android:exported="false" />
        <activity
            android:name=".ordermangement.activities.ApproveForm"
            android:exported="false" />
        <activity
            android:name=".ordermangement.activities.RejectForm"
            android:exported="false" />
        <activity
            android:name=".inventorymanagement.activities.ViewInventory"
            android:exported="false" />
        <activity
            android:name=".inventorymanagement.activities.UpdateInventory"
            android:exported="false" />
        <activity
            android:name=".inventorymanagement.activities.InventoryMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".inventorymanagement.activities.DeleteInventory"
            android:exported="false" />
        <activity
            android:name=".inventorymanagement.activities.AddInventory"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" /> <!-- User Management -->
        <activity
            android:name=".usermanagement.activity.AddOrder"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".usermanagement.activity.ViewOrder"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".usermanagement.activity.UpdateOrder"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".usermanagement.activity.DeleteOrder"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- end of user management -->
        <activity
            android:name=".deliverymangement.activity.DeleteDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".deliverymangement.activity.UpdateDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".deliverymangement.activity.AddDeliveryActivity"
            android:exported="false" />
        <activity
            android:name=".deliverymangement.activity.AllDeliveryOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".deliverymangement.activity.DeliveryDashboardActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".FirstpageActivity"
            android:exported="false" />
        <activity
            android:name=".BeginingActivity"
            android:exported="false" />
        <activity
            android:name=".ordermangement.activities.OrderManagementMain"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ordermangement.activities.ApprovedOrders"
            android:exported="false" />
        <activity
            android:name=".ordermangement.activities.RejectedOrders"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>